# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.pyc
.DS_Store

# Virtual environments
venv/
env/
.venv/
ENV/

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# Node / Web (just in case)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
dist/
build/

# Misc
*.bak
*.tmp
